html {
    color: black;
    font-size: 16px;
    line-height: 1.4;
}

body {
    font-family:'Tajawal', sans-serif;
    font-size: 1em;
}
/******* NAV *******/
nav {
   background-color: black; 
}
nav ul {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    font-size: 1em;
    margin: 0 auto;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li{
    color: white;
}

button {
    background-color: transparent;
    border-color: transparent;
    border-right: solid 1px orange;
    padding: 0.75em;
    margin: 1em;
}
/******** Main Header **********/

.main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    background: url('../img/meditation.jpg') center no-repeat;
    background-size: cover;
    height: 150vh;
    width: 100%;
}

.main-heading h1 {
    font-size: 3em;
    width: 40%;
}
.main-heading h1 span{
    margin-bottom: 0.75em;
    color: orange;
}
/******** Form *********/
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 20vh;
    margin: 0 auto;
    padding: 2rem;
}

/******* Review *******/


#review {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    background-color: orange;
}

.review-heading h3 {
    display: flex;
    justify-content:center;
    font-size: 2em;
    width: 100%;
    border-bottom: solid 1px orange;
}

#review img{
    height: 300px;
    flex-basis: 25%;
    margin: 0;
    padding: 1em;
}

.review-post{
    flex-basis: 30%;
    font-size: 1.2em;
    padding: 2em;
}

/******** About ********/
#about h2{
    border-bottom: solid 1px orange;
    width: 60%;
    font-size: 2em;
    padding: 1rem;
}
#about p{
    font-size: 1em;
    padding: 0.75em;
    width: 80%;
    font-weight: bold;
}
/********* Amenities *********/
.amenities-wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    border-top: solid 1px orange;
}

.amenities{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.amenities::after {
    content: "";
    background: url('../img/rocks.jpg') center no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position:fixed;
    z-index: -1;   
  }

.amenities article{
    width: 25%;
    margin: 2em;
}

.amenities i {
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin: 1.5em;
}

.amenities p{
    margin: 0;
    font-weight: bold;
}

/********* Footer **********/
.footer-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

#contact {
    padding: 1em;
    font-size: 1em;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1em;
    padding-top: 1.5em;
}

.social-icons{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.social-icons p{
    padding: 1em;
    margin: 0;
}
.copyright{
    display: flex;
    justify-content: center;
    width: 100%;
}